.login-form {
  max-width: 400px;
  max-height: 613px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.invalid {
  border-color: #f56565;
  background-color: #ffeef0;
  box-shadow: 0 0 5px rgba(245, 101, 101, 0.5);
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(66, 153, 225, 0.5);
}

input {
  transition: border-color 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.img-container-1 {
  width: 400px;
  height:245px;
  background-image: url('../../../assets/agent.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.img-container-2 {
  width: 400px;
  height:400px;
  background-image: url('../../../assets/patient.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.img-container-3 {
  width: 400px;
  height:400px;
  background-image: url('../../../assets/stomatolog.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

